.content{
    display: grid;
    grid-template-columns: auto auto;
}
.image{
    width: 1344px;
height: 983px;
}
.form{
    left: 1344px;
width: 576px;

}
.mb-4{
    width: 401px;
    height: 56px;
}
.mb-3{
    width: 401px;
height: 56px;
}
.btn-lg{
    top: 544px;
left: 1432px;
min-width: 401px;
height: 48px;
margin-top: 40px;
}
.password{
    min-width: 130px;
height: 19px;
text-align: center;
letter-spacing: 0px;
color: #414141;
opacity: 1;
}